<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Login</title>
</head>
<body>
    <center><style>
        body {
    background-image: url('https://namal.edu.pk/ckEditorImages/uploads/userfiles/namal%20knowledge%20city.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
                    }
    </style> 
 <h1>Welcome!</h1>
 <h2>Please enter your details to login ...</h2>
 <form method="post">
 Username: <input type="text" name="uname" class="">
  <p></p>
 Password: <input type="password" name="password">
  <p></p>
 <input type="submit" value="Sign In" class="btn btn-primary">

   </form></center>
</body>
</html>
