<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Receive</title>
</head>
<body>
    <center><style>
        body {
    background-image: url('https://namal.edu.pk/ckEditorImages/uploads/userfiles/namal%20knowledge%20city.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
                    }
    </style> 
 <h1>Welcome!</h1>
 <h2>Enter the details ...</h2>
 <form method="post">
 Name: <input type="text" name="uname" class="">
  <p></p>
 Roll no: <input type="text" name="Roll">
  <p></p>
  Equipments: <input type="text" name="Equipments">
  <p></p>
 <input type="submit" value="submit" class="btn btn-primary">
  

   </form></center>
</body>
</html>
